*{
  margin: 0;
  padding: 0;
}
body{
  font-family: monospace; 
}
section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 5em;
  font-weight: normal;
  text-shadow: 2px 2px 0 black;
}